/* General layout */
.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  margin-left: 180px; /* Alineado exacto al ancho de la sidebar */
  flex: 1;
  padding: 20px;
  background-color: #1D1C2A;
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
}
