/* Contenedor principal de la página */
.movie-page-container {
  padding: 20px;
  color: #fff;
  background-color: #1D1C2A; /* Fondo oscuro */
  font-family: Arial, sans-serif;
}

/* Botón de regreso */
.back-button {
  background-color: rgba(40, 156, 213, 0.4);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #1a6da8;
}

/* Título */
.movie-title {
  font-size: 3rem;
  margin-bottom: 50px;
    margin-top: -65px; /* Ajusta la posición vertical */
  text-align: center;
  color: #ffffff;
}

/* Detalles de la película */
.movie-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* Description*/
.movie-overview {
  font-size: 1.2rem; /* Cambia el tamaño aquí */
  line-height: 1.5; /* Espaciado entre líneas */
  color: #fff;
}

/* General Info*/
.movie-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
    font-size: 1rem; /* Cambia el tamaño aquí */
  align-items: flex-start;
  flex-wrap: wrap; /* Adaptativo para pantallas pequeñas */
}



/* Rectángulo transparente */
.transparent-box {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
}

/* Poster y horarios */
.poster-and-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

/* Poster */
.movie-poster {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Horarios */
.movie-schedule {
  margin-top: 20px;
  text-align: center;
}

.movie-schedule h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.schedule-item {
  background-color: rgba(40, 156, 213, 0.4);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 200px;
  text-align: center;
}

