.booking-ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(29, 28, 42);
    font-family: "Arial", sans-serif;
}

.ticket {
    background: white;
    padding: 20px;
    border: none;
    border-radius: 40px;
    text-align: center;
    width: 320px;
    position: relative;
    overflow: hidden;
}

.ticket::before, .ticket::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 40px;
    background-color: rgb(29, 28, 42);
    border-radius: 30px;
}

.ticket::before {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.ticket::after {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.ticket-header {
    background-color: rgba(191, 191, 191, 0.36);
    border-radius: 40px;
    color: #287fd5;
    padding: 5px;
    width: 320px;
    font-size: 20px;
    font-weight: bold;
}

.ticket-body {
    padding: 15px;
    background-color: rgba(191, 191, 191, 0.36);
    margin-top: 20px;
    border-radius: 40px;
}

.warning-text {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 10px;
}

.booking-details {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.value {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.ticket-footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.qr-code {
    width: 100px;
    height: 100px;
}

.goToBookings-button{
    background: transparent;
    margin-top: 20px;
    color: #287fd5;
    font-size: 50px;
    border: none;
}

.goToBookings-button:hover{
    color: green;
}