/* Contenedor principal */
.favorites-container {
    padding: 20px;
    color: white;
    min-height: 100vh; /* Ensures full-screen height */
    display: flex;
    flex-direction: column;
    background-color: #1d1c2a; /* Dark background */
}


.favorites-container h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%; /* Ensures full width for centering */
}

.no-favorites {
    font-size: 3rem;
    color: #1a6da8;
    align-self: center; /* Moves to the right */
    margin-right: 40px;
}

/* Botón para volver */
.back-link {
    position: fixed;
    top: 20px;
    left: 200px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 100;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.back-link:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Grid para mostrar las películas */
.movies-grid-2 {
    display: flex;
    flex-direction: row; /* Alinea los tickets de derecha a izquierda */
    align-items: flex-start;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%; /* Ahora ocupa todo el ancho */
    margin-top: 20px;
}

/* Tarjeta de película */
.movie-card-2 {
  overflow: hidden;
  transition: transform 0.2s ease;
  text-align: center;
}

.movie-card-2:hover {
  transform: scale(1.05);
}

/* Imagen del póster */
.movie-poster-2 {
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  height: auto;
  transition: opacity 0.3s ease;
    justify-content: right;
}

.movie-poster:hover {
  opacity: 0.9;
}

.movie-actions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons horizontally */
}

.remove-movie-btn,
.book-now-btn {
    max-width: 130px;
    min-width: 110px;/* Ensure both buttons have the same width */
    padding: 12px; /* Uniform padding */
    text-align: center; /* Ensures text is centered */
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    margin-top: 15px;
}

.remove-movie-btn {
    background-color: #e63946;
    color: white;
}

.remove-movie-btn:hover {
    background-color: #b71c1c;
}

.book-now-btn {
    background-color: #1a6da8;
    color: white;
    text-decoration: none; /* Removes underline */
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
}

.book-now-btn:hover {
    background-color: #14548b;
}
