/* Contenedor principal */
.favorites-container {
  margin-left: 200px; /* Alineado con el contenido principal */
  padding: 20px;
  color: white;
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el contenido a la izquierda */
  justify-content: flex-start;
  background-color: #1d1c2a; /* Asegurar que tenga fondo oscuro */
}

.favorites-container p {
    margin-right: 300px;
    margin-left: 100px;
    font-size: 3rem;
    color: #1a6da8;
}

/* Botón para volver */
.back-link {
    position: fixed;
    top: 20px;
    left: 200px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 100;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.back-link:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Título de la página */
.favorites-title {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 100px;
}

/* Grid para mostrar las películas */
.movies-grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%; /* Ahora ocupa todo el ancho */
  margin-left: -200px;
}

/* Tarjeta de película */
.movie-card-2 {
  overflow: hidden;
  transition: transform 0.2s ease;
  text-align: center;
}

.movie-card-2:hover {
  transform: scale(1.05);
}

/* Imagen del póster */
.movie-poster-2 {
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  height: auto;
  transition: opacity 0.3s ease;
    justify-content: right;
}

.movie-poster:hover {
  opacity: 0.9;
}

/* Botón para eliminar película */
.remove-movie-btn {
  margin-top: 10px;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: #e63946;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-movie-btn:hover {
  background-color: #b71c1c;
}
